body {
  background-image: url(/images/background.jpg);
  font-family:      Arial, sans-serif;
  font-size:        90%;
  margin:           2em;
}

h1, h2, h3, h4, h5, h6, strong, b { font-weight: bold; }

h1, h2, h3, h4, h5, h6 { margin: 0.5em 0; }

h1 {
  font-size:      150%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

h2 { font-size: 170%; }

h3 { font-size: 155%; }

h4 { font-size: 140%; }

h5 { font-size: 125%; }

h6 { font-size: 110%; }

abbr { cursor: help; }

abbr:hover { border-bottom: 0.1em dotted black; }

em, i { font-style: italic; }

th { font-weight: bold; }

*[align='center'] { text-align: center; }

*[align='left'] { text-align: left; }

*[align='right'] { text-align: right; }

li
{
  display: list-item;
  margin-left: 1em;
}

ol li { list-style: decimal inside; }

ul li { list-style: disc outside; }

table {
  background-color: white;
  background-image: none;
  border:           2px solid dimgray;
}

caption { padding: 0.5em; }

th, td {
  border:  1px solid #cccccc;
  margin:  1px;
  padding: 0 0.25em;
}

thead th { border-bottom: 1px solid dimgray; }

a { color: dimgray; }

.nowrap { white-space: nowrap; }

.approximate { font-style: italic; }

caption.approximate { text-align: right; }

.pagination { margin-top: 1em; }

.moderate {
  background-color: #fee774;
  border-color:     #cdad56;
}

.critical {
  background-color: #fea8a8;
  border-color:     #f47878;
}

.pagination a { padding: 0.5em; }

.pagination a:hover {
  font-weight: bold;
}
