body {
  font-family: Arial, sans-serif;
  margin:      2em;
}

h1, h2, h3, h4, h5, h6, strong, b { font-weight: bold; }

h1, h2, h3, h4, h5, h6 { margin: 0.5em 0; }

h1 { font-size: 185%; }

h2 { font-size: 170%; }

h3 { font-size: 155%; }

h4 { font-size: 140%; }

h5 { font-size: 125%; }

h6 { font-size: 110%; }

abbr { cursor: help; }

abbr:hover { border-bottom: 0.1em dotted black; }

em, i { font-style: italic; }

th { font-weight: bold; }

*[align='center'] { text-align: center; }

*[align='left'] { text-align: left; }

*[align='right'] { text-align: right; }

li
{
  display: list-item;
  margin-left: 1em;
}

ol li { list-style: decimal inside; }

ul li { list-style: disc outside; }

th, td {
  border:  1px solid lightgrey;
  margin:  0.25em;
  padding: 0.25em;
}

td.datetime { white-space: nowrap; }

.approximate { font-style: italic; }

.pagination { margin-top: 1em; }

.moderate { background-color: #ffffaa; }

.critical { background-color: #ffaaaa; }

.pagination a { padding: 0.5em; }

.pagination a:hover {
  background-color: lightgrey;
}
