<h1 id="period">Thu 3/23 &ndash; Fri 5/15</h1>

<h2>Summary</h2>

<dl>
<dt>Risk index (letter grade)</dt>
<dd><span id="risk-index">1.23</span> (<span id="risk-letter-grade">B+</span>)</dd>

<dt>Number of missing dates in period</dt>
<dd id="missing-dates">0</dd>

<dt>Risk Index Chart</dt>
<dd><img alt="Risk Index Chart" height="128" width="192" id="risk-index-chart" src="" /></dd>

<dt>Blood-Glucose Profile Chart</dt>
<dd><img alt="Blood-Glucose Profile Chart" height="128" width="192" id="blood-glucose-profile-chart" src="" /></dd>
</dl>

<h2>Blood-glucose</h2>

<dl>
<dt>Target</dt>
<dd id="blood-glucose-target">100</dd>

<dt>Actual high</dt>
<dd id="blood-glucose-actual-high">303</dd>

<dt>Actual low</dt>
<dd id="blood-glucose-actual-low">56</dd>

<dt>Actual average</dt>
<dd id="blood-glucose-actual-average">135</dd>
</dl>

<h2>Daily measurement count</h2>

<dl>
<dt>Target</dt>
<dd id="daily-measurement-count-target">5</dd>

<dt>Actual high</dt>
<dd id="daily-measurement-count-actual-high">8</dd>

<dt>Actual low</dt>
<dd id="daily-measurement-count-actual-low">1</dd>

<dt>Actual average</dt>
<dd id="daily-measurement-count-actual-average">3.5</dd>
</dl>

<form action="/foo">
<ul>
<li><input id="submit-top" type="submit" value="Save" /></li>
</ul>

<table>
<thead>
<tr>
<th align="right">Date</th>
<th align="right">High</th>
<th align="right">Low</th>
<th align="right">Average</th>
<th align="right">Count</th>
<th colspan="2">Risk</th>
<th colspan="10">Individual Blood-Glucose Measurements</th>
</tr>
</thead>

<tbody>
<tr>
<td align="right"><input id="date-date-001" name="date-date-001" size="9" type="text" value="Fri 11/30" /></td>
<td align="right" id="date-high-001">123</td>
<td align="right" id="date-low-001">99</td>
<td align="right" id="date-average-001">70</td>
<td align="right" id="date-count-001">4</td>
<td align="right" id="date-risk-index-001">1.23</td>
<td align="center" id="date-risk-grade-001">B+</td>
<td align="right"><input id="date-glucose-01-001" name="date-glucose-01-001" size="3" type="text" /></td>
<td align="right"><input id="date-glucose-02-001" name="date-glucose-02-001" size="3" type="text" /></td>
<td align="right"><input id="date-glucose-03-001" name="date-glucose-03-001" size="3" type="text" /></td>
<td align="right"><input id="date-glucose-04-001" name="date-glucose-04-001" size="3" type="text" /></td>
<td align="right"><input id="date-glucose-05-001" name="date-glucose-05-001" size="3" type="text" /></td>
<td align="right"><input id="date-glucose-06-001" name="date-glucose-06-001" size="3" type="text" /></td>
<td align="right"><input id="date-glucose-07-001" name="date-glucose-07-001" size="3" type="text" /></td>
<td align="right"><input id="date-glucose-08-001" name="date-glucose-08-001" size="3" type="text" /></td>
<td align="right"><input id="date-glucose-09-001" name="date-glucose-09-001" size="3" type="text" /></td>
<td align="right"><input id="date-glucose-10-001" name="date-glucose-10-001" size="3" type="text" /></td>
</tr>
</tbody>
</table>

<ul>
<li><input id="submit-bottom" type="submit" value="Save" /></li>
</ul>
</form>
